body {
    background-color: black;
}

h2 {
    color: white;
}

.red {
    color: red;
}

.orange {
    color: orange
}

.green {
    color: green
}

.yellow {
    color: yellow
}

.aqua {
    color: aqua
}

.blue {
    color: blue
}

violet {
    color: violet
}

t